html, body{
    background-color: black;
    color: white;
    font-family: 'Belleza', sans-serif;
}

h4 {
    font-family: 'Lobster', cursive;
    font-size: 40px;
}

.body{
    position: relative;
}

#top-navbar {
    background-color: #171717 !important;
}

#s2 {
    padding: 90px 1em 0 2em;
}

#s3 {
    padding: 90px 1em 0 2em;
}

#s4 {
    padding: 90px 1em 0 2em;
}

.nav-link {
    color: white;
    font-weight: bold;
    font-size: 25px;
    background-color: transparent;
}

.content-container{
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: black;
    width: inherit;
}

.scroll-container{
    margin-top: 20px;
    height: 800px;
    width: inherit;
    overflow-y: scroll;
}

.serviceDiv{
    background-color: black;
    border-radius: 10px;
    margin: 10px;
    height: inherit;
    align-items: center;
    text-align: center;
}

.memberDiv{
    background-color: black;
    border-radius: 10px;
    margin: 10px;
    height: inherit;
    align-items: center;
    text-align: center;
}

.carousel-indicators{
	color: black;
}

#profile {
    height: 100px;
    width: 80px;
}

.map-container-2{
overflow:hidden;
padding-bottom:56.25%;
position:relative;
height:0;
}
.map-container-2 iframe{
left:0;
top:0;
height:100%;
width:100%;
position:absolute;
}